body {
  position: relative;
}

.main--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1415157d;
}
input[type="radio"] {
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 23px;
  height: 25px;
  content: none;
  outline: none;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="radio"]:checked {
  appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
}

input[type="radio"]:checked::before {
  position: absolute;
  color: red !important;
  content: "\00A0\2713\00A0" !important;
  border: 1px solid #d3d3d3;
  font-weight: bolder;
  font-size: 16px;
}
.custom-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show before truncation */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
